* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Faster+One&family=Lato&display=swap');

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(255, 255, 253);
}
